
@{
    ViewData["Title"] = "Index";
}

<script src="~/js/jquery.min.js"></script>

<div>
    <h1>ASP.NET Core Bearer Token Authentication</h1>
    <input type="button" id="GetToken" value="Create token" />
    <hr />
    <input type="text" id="token" size="600" />
    <hr />
    <input type="button" id="UseToken" value="Use token to call car controller" />
    <hr />
    <div id="resultCars"></div>
    <div id="resultToken"></div>
</div>

<script>
        $(function () {
            $("#GetToken").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Token")',
                    data: JSON.stringify({ "Username": "johannes", "Password": "olofsson" }),
                    contentType: "application/json"
                }).done(function (data, statusText, xhdr) {
                    $("#token").val(data);
                }).fail(function (xhdr, statusText, errorText) {
                    $("#token").text(errorText);
                });
            });

            $("#UseToken").click(function () {
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("Get", "Car")',
                    beforeSend: function (xhdr) {
                        xhdr.setRequestHeader("Authorization", "Bearer " + $("#token").val());
                    }
                }).done(function (data, statusText, xhdr) {
                    $("#resultToken").text(JSON.stringify(data.token));
                    $("#resultCars").text(JSON.stringify(data.cars));
                }).fail(function (xhdr, statusText, errorText) {
                    $("#resultToken").text(JSON.stringify(xhdr));
                    $("#resultCars").text("");
                });
            });
        });
</script>

